@model parking_system.Models.car_owner

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Car Owner Information</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="car_owner_id" />
            <div class="form-group">
                <label  class="control-label"> Name</label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label"> License</label>
                <input asp-for="licen_number" maxlength="5" class="form-control" />
                <span asp-validation-for="licen_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
