@model parking_system.Models.park_slot

@{
    ViewData["Title"] = "Create";
}

<h1>Make A New Reservation</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label"> Car Owner Id</label>
                <input asp-for="car_owner_id" class="form-control" />
            </div>
            <div class="form-group">
                <label  class="control-label"> Day</label>
                <select asp-for="day" class="form-control">
                    <option value="saturday">saturday</option>
                    <option value="sunday">sunday</option>
                    <option value="monday">monday</option>
                    <option value="tuesday">tuesday</option>
                    <option value="wednesday">wednesday</option>
                    <option value="thursday">thursday</option>
                    <option value="friday">friday</option>
                </select>
                <span asp-validation-for="day" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label"> Spot</label>
                <select asp-for="spot" class="form-control" >
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>

                </select>
                <span asp-validation-for="spot" class="text-danger"></span>
            </div>
            
          
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
